
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/Spectrograms.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
1-103995-A-30.wav
*.wav
CMSIS_5/
